{{define "auth/login.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  {{template "components/commonHead.html" .}}
</head>

{{if .PageError}}
{{template "components/errorBody.html" .}}
{{else}}

<body
  class="bg-surface min-h-screen flex flex-col justify-start md:justify-center items-center transition-colors text-on-surface"
>
  <!-- Main content wrapper that grows to fill space -->
  <div class="flex-1 w-full flex flex-col md:flex-row justify-center items-center gap-4 pt-4 px-4">
    <div class="w-full flex flex-col md:flex-row justify-center items-center gap-4">
      <!-- This is the image/branding part -->
      <div class="w-full md:w-1/2 flex flex-col justify-start md:justify-center items-center">
        <img
          x-data
          :src="$store.darkMode ? '/logo-dark.png' : '/logo.png'"
          alt="Logo"
          class="size-32 md:size-48 lg:size-64 rounded-lg shadow-lg md:shadow-xl pulse-shadow pulse-accent"
        >
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mt-4 text-on-surface">{{ .AppName }}</h1>
      </div>

      <!-- This is the card and form part -->
      <form
        id="loginForm"
        action="/auth/login/submit"
        method="post"
        class="w-full md:w-1/2 flex flex-col justify-center items-center"
        x-data="{pvis: false, cpvis: false}"
      >
        <div class="w-full md:w-1/2 flex flex-col md:flex-row justify-center items-center">
          <div
            class="w-full bg-container text-on-container rounded-2xl transition-shadow duration-300 hover:shadow-xl shadow-md dark:shadow-accent p-8 border-on-surface"
          >

            <div class="mb-6">
              <h2 class="text-xl md:text-2xl font-semibold mb-2">Login to continue</h2>
              <p class="text-sm md:text-base text-muted-on-container">Enter your email and password to log in.</p>
            </div>

            <div class="space-y-4">
              <!-- Email -->
              <div class="relative my-4">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  placeholder="Email"
                  required
                  class="peer w-full text-lg px-3 pt-5 pb-2 bg-container border border-on-container rounded-md text-on-container placeholder-transparent focus:outline-none focus:ring-2 focus:ring-accent focus:border-transparent transition-all"
                >
                <label
                  for="email"
                  class="absolute left-3 top-3 text-muted-on-container transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:-translate-y-3 peer-focus:px-1 peer-focus:bg-container peer-focus:text-accent peer-[:not(:placeholder-shown)]:top-0 peer-[:not(:placeholder-shown)]:-translate-y-3 peer-[:not(:placeholder-shown)]:bg-container peer-[:not(:placeholder-shown)]:px-1"
                >Email</label>
              </div>

              <!-- Password -->
              <div class="w-full flex flex-col items-end justify-start my-4">
                <div class="w-full relative mb-1">
                  <input
                    id="password"
                    name="password"
                    :type="pvis ? 'text' : 'password'"
                    autocomplete="new-password"
                    placeholder="Password"
                    required
                    class="peer w-full text-lg px-3 pt-5 pb-2 bg-container border border-on-container rounded-md text-on-container placeholder-transparent focus:outline-none focus:ring-2 focus:ring-accent focus:border-transparent transition-all"
                  >
                  <label
                    for="password"
                    class="absolute left-3 top-3 text-muted-on-container transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:-translate-y-3 peer-focus:px-1 peer-focus:bg-container peer-focus:text-accent peer-[:not(:placeholder-shown)]:top-0 peer-[:not(:placeholder-shown)]:-translate-y-3 peer-[:not(:placeholder-shown)]:bg-container peer-[:not(:placeholder-shown)]:px-1"
                  >Password</label>
                </div>

                <div
                  class="w-full flex flex-col md:flex-row-reverse md:gap-2 gap-1 items-end justify-center md:items-center md:justify-between"
                >
                  <button
                    type="button"
                    x-on:click="pvis = !pvis"
                    class="text-muted-on-container hover:text-accent transition-all"
                  >
                    <span x-show="!pvis">Show</span>
                    <span x-show="pvis">Hide</span>
                  </button>
                  <p class="text-sm text-muted-on-container">
                    <a
                      href="/auth/forgot-password"
                      class="text-accent hover:underline"
                    >Forgot Password?</a>
                  </p>
                </div>

              </div>
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end gap-4">
              <button
                type="submit"
                class="w-full bg-accent text-on-accent py-3 px-4 rounded-xl font-medium hover:bg-accent-hover focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-2 transition-all duration-200"
              >Login
              </button>
            </div>

            <div class="w-full mt-4 text-center">
              <p class="text-sm text-muted-on-container">
                Don't have an account? <a
                  href="/auth/signup"
                  class="text-accent hover:underline"
                >Sign up</a>
              </p>
            </div>
          </div>
        </div>


        <!-- Hidden field for csrf_token -->
        <input
          type="hidden"
          name="{{.CSRFTokenName}}"
          value="{{.CSRFTokenValue}}"
        >

        <!-- Hidden field for flow_id -->
        <input
          type="hidden"
          name="flowId"
          value="{{.FlowID}}"
        >
      </form>
    </div>
  </div>

  {{template "components/commonFooter.html" .}}

</body>
{{end}}

</html>
{{end}}