{{define "auth/verify_email.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
  {{template "components/commonHead.html" .}}
</head>

{{if .PageError}}
{{template "components/errorBody.html" .}}
{{else}}

<body
  class="bg-surface min-h-screen flex flex-col justify-start md:justify-center items-center transition-colors text-on-surface"
>
  <!-- Main content wrapper that grows to fill space -->
  <div class="flex-1 w-full flex flex-col md:flex-row justify-center items-center gap-4 pt-4 px-4">
    <div class="w-full flex flex-col md:flex-row justify-center items-center gap-4">
      <!-- This is the image/branding part -->
      <div class="w-full md:w-1/2 flex flex-col justify-start md:justify-center items-center">
        <img
          x-data
          :src="$store.darkMode ? '/logo-dark.png' : '/logo.png'"
          alt="Logo"
          class="size-32 md:size-48 lg:size-64 rounded-lg shadow-lg md:shadow-2xl pulse-shadow pulse-accent"
        >
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mt-4 text-on-surface">{{ .AppName }}</h1>
      </div>

      <!-- This is the card and form part -->
      {{if .Success}}
      <div class="w-full md:w-1/2 flex flex-col md:flex-row justify-center items-center">
        <div
          class="w-full max-w-md bg-container text-on-container rounded-2xl transition-shadow duration-300 hover:shadow-xl shadow-md dark:shadow-accent p-8 border-on-surface"
        >
          <div class="mb-6">
            <h2 class="text-xl md:text-2xl font-semibold mb-2">Email Verified Successfully</h2>
            <p class="text-sm md:text-base text-muted-on-container">Your email has been successfully verified. You can
              now&nbsp;
              {{if .SuccessLink}}proceed further.{{else}}log in to your account.{{end}}</p>
          </div>

          <!-- Login Button -->
          <div class="flex justify-end gap-4">
            <button
              x-data
              @click="window.location.href = '{{if .SuccessLink}}{{.SuccessLink}}{{else}}'/auth/login'{{end}}'"
              class="w-full bg-accent text-on-accent py-3 px-4 rounded-xl font-medium hover:bg-accent-hover focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-2 transition-all duration-200"
            >
              {{if .SuccessLink}}Continue{{else}}Login{{end}}
            </button>
          </div>
        </div>
      </div>
      {{else}}
      {{if .VerificationToken}}
      <form
        id="verifyEmailForm"
        action="/auth/verify-email/submit"
        method="post"
        class="w-full md:w-1/2 flex flex-col justify-center items-center"
      >
        <div class="w-full md:w-1/2 flex flex-col md:flex-row justify-center items-center">
          <div
            class="w-full max-w-md bg-container text-on-container rounded-2xl transition-shadow duration-300 hover:shadow-xl shadow-md dark:shadow-accent p-8 border-on-surface"
          >
            <div class="mb-6">
              <h2 class="text-xl md:text-2xl font-semibold mb-2">Verify your email</h2>
              <p class="text-sm md:text-base text-muted-on-container">To verify your email address, please click the
                button below.</p>
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end gap-4">
              <button
                type="submit"
                class="w-full bg-accent text-on-accent py-3 px-4 rounded-xl font-medium hover:bg-accent-hover focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-2 transition-all duration-200"
              >Verify Email
              </button>
            </div>
          </div>
        </div>

        <!-- Hidden field for csrf_token -->
        <input
          type="hidden"
          name="{{.CSRFTokenName}}"
          value="{{.CSRFTokenValue}}"
        >

        <!-- Hidden field for verification token -->
        <input
          type="hidden"
          name="token"
          value="{{.VerificationToken}}"
        >
      </form>
      {{else}}
      <div class="w-full md:w-1/2 flex flex-col md:flex-row justify-center items-center">
        <div
          class="w-full max-w-md bg-container text-on-container rounded-2xl transition-shadow duration-300 hover:shadow-xl shadow-md dark:shadow-accent p-8 border-on-surface"
        >
          <div class="mb-6">
            <h2 class="text-xl md:text-2xl font-semibold mb-2">Verify your email</h2>
            <p class="text-sm md:text-base text-muted-on-container">An email has been sent to your provided email
              address, please check your inbox. (If not found, please check your spam folder.)</p>
          </div>
        </div>
      </div>
      {{end}}
      {{end}}
    </div>
  </div>

  {{template "components/nbrglmFooter.html" .}}

</body>
{{end}}


</html>

{{end}}