{{define "components/alertsAndActions.html"}}
<!-- Alerts (Toasts) Container -->
<div class="fixed top-4 right-4 space-y-2 z-50">
  <template
    x-data
    x-for="alert in $store.alerts.items"
    :key="alert.id"
  >
    <div
      x-data
      class="px-4 py-2 rounded-lg shadow flex items-center"
      :class="{
        'bg-success-bg text-on-success': alert.kind === $store.alerts.kindSuccess,
        'bg-warning-bg text-on-warning': alert.kind === $store.alerts.kindWarn,
        'bg-error-bg text-on-error': alert.kind === $store.alerts.kindError,
        'bg-accent text-on-accent': alert.kind === $store.alerts.kindInfo
      }"
    >
      <span
        x-data
        x-text="alert.message"
      ></span>
      <button
        x-data
        class="ml-3"
        @click="$store.alerts.remove(alert.id)"
        x-html="icon('close', 'h-6 w-6 stroke-current', '0 0 24 24')"
      ></button>
    </div>
  </template>
</div>

<!-- Actions (Modal Dialog) Container -->
<dialog
  x-data
  :id="$store.actions.id"
  x-show="$store.actions.show"
  @close="$store.actions.cancel()"
  class="w-full h-full bg-transparent"
>
  <div class="w-full h-full flex justify-center items-center bg-transparent">
    <div
      class="flex flex-col gap-4 max-w-11/12 rounded-2xl p-4 bg-container/90 backdrop-blur-sm shadow-lg border border-separator-on-container"
    >
      <h2
        x-data
        x-text="$store.actions.title"
        class="text-lg font-semibold text-on-container"
      ></h2>
      <p
        x-data
        x-text="$store.actions.message"
        class="text-sm text-muted-on-container"
      ></p>

      <div class="flex justify-end gap-2">
        <button
          type="button"
          x-data
          class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-on-error bg-error-bg hover:bg-on-error hover:text-error focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent"
          @click="$store.actions.cancel()"
          x-text="$store.actions.cancelButtonText"
        ></button>
        <button
          type="button"
          x-data
          @click="$store.actions.confirm()"
          x-text="$store.actions.confirmButtonText"
          class="mt-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-on-success bg-success-bg hover:bg-on-success hover:text-success-bg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent"
        ></button>
      </div>
    </div>
  </div>
</dialog>
{{end}}