{{define "components/commonFooter.html"}}
<footer class="w-full flex flex-col md:flex-row items-center justify-center bg-container p-2">
  <div class="flex flex-col md:flex-row gap-2 items-center justify-center">
    <p class="hidden lg:block text-sm text-gray-600">©<span x-text="(new Date()).getFullYear()"></span>
      {{.CompanyName}}.</p>
    <p class="hidden lg:block text-sm text-gray-600">All rights reserved.</p>

    {{template "components/nbrglmBranding.html" .}}
  </div>
</footer>
{{end}}