@import "tailwindcss";
@source not "../data";

/* Show Scrollbar always */
html {
  overflow-y: scroll;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-container) inset !important;
  -webkit-text-fill-color: var(--color-on-container) !important;
  caret-color: var(--color-on-container) !important;
}

/* For Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0 30px var(--color-container) inset !important;
  color: var(--color-on-container) !important;
}

/* CURSOR for interactive elements */
button {
  cursor: pointer;
}

@keyframes pulse-shadow {

  0%,
  100% {
    box-shadow: 0 0 5px rgba(from var(--pulse-color) r g b / 0.5);
  }

  50% {
    box-shadow: 0 0 20px rgba(from var(--pulse-color) r g b / 0.8),
      0 0 30px rgba(from var(--pulse-color) r g b / 0.4);
  }
}

.pulse-shadow {
  animation: pulse-shadow 2s ease-in-out infinite;
}

/* Default Pulse Color */
.pulse-accent {
  --pulse-color: var(--color-accent);
}

.pulse-error {
  --pulse-color: var(--color-error);
}

.pulse-success {
  --pulse-color: var(--color-success);
}

.pulse-warning {
  --pulse-color: var(--color-warning);
}

:root {
  --color-surface-bg: #f0f1f4;
  --color-container-bg: #d6dae3;
  --color-thing-on-surface: #0f172a;
  --color-thing-on-container: #1e293b;
  --color-text-muted-on-surface: #58687e;
  --color-text-muted-on-container: #394350;
  --color-hover-on-surface: #eff1f5;
  --color-hover-on-container: #a8b0be;

  --color-error: #dc2626;
  --color-error-bg: #fef2f2;
  --color-on-error: #ffffff;
  --color-warning: #d97706;
  --color-warning-bg: #fffbeb;
  --color-on-warning: #ffffff;
  --color-success: #16a34a;
  --color-success-bg: #f0fdf4;
  --color-on-success: #ffffff;

  --color-accent: #155dfc;
  --color-accent-hover: #1447e6;
  --color-on-accent: #ffffff;
}

[data-theme="dark"] {
  --color-surface-bg: #09090b;
  --color-container-bg: #1e2939;
  --color-thing-on-surface: #f1f5f9;
  --color-thing-on-container: #e2e8f0;
  --color-text-muted-on-surface: #94a3b8;
  --color-text-muted-on-container: #a8afba;
  --color-hover-on-surface: #27272a;
  --color-hover-on-container: #334155;

  --color-error: #f87171;
  --color-error-bg: #450a0a;
  --color-on-error: #0f172a;
  --color-warning: #fbbf24;
  --color-warning-bg: #451a03;
  --color-on-warning: #0f172a;
  --color-success: #4ade80;
  --color-success-bg: #14532d;
  --color-on-success: #0f172a;

  --color-accent: #2b7fff;
  --color-accent-hover: #155dfc;
  --color-on-accent: #ffffff;
}

@theme inline {
  --color-surface: var(--color-surface-bg);
  --color-container: var(--color-container-bg);
  --color-on-surface: var(--color-thing-on-surface);
  --color-on-container: var(--color-thing-on-container);
  --color-muted-on-container: var(--color-text-muted-on-container);
  --color-muted-on-surface: var(--color-text-muted-on-surface);
  --color-hover-container: var(--color-hover-on-container);
  --color-hover-surface: var(--color-hover-on-surface);

  --color-error: var(--color-error);
  --color-error-bg: var(--color-error-bg);
  --color-on-error: var(--color-on-error);
  --color-warning: var(--color-warning);
  --color-warning-bg: var(--color-warning-bg);
  --color-on-warning: var(--color-on-warning);
  --color-success: var(--color-success);
  --color-success-bg: var(--color-success-bg);
  --color-on-success: var(--color-on-success);

  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-on-accent: var(--color-on-accent);
}